/* Headings */
h2 {
    font-size: 45px;
}

/* Form control sizes */
.large {
    font-size: 30px;
}

.larger {
    font-size: 40px;
}

/* Base button style */
.btn {
    font-size: 40px;
    color: white;
    padding: 20px 30px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color:#0088ff;
}

/* Color variants */

.btn-green {
    background-color: #4CAF50;
}

.btn-orange {
    background-color: #FF8C00;
}

.btn-red {
    background-color: #ff0000;
}

.btn-gray {
    background-color: #6B7280;
}

.btn-prismarine {
    background-color: #017e80;
}

form input,
form textarea,
form select {
  border: 3px solid #6d6d6d;
}

/* Image helpers */
.img-left {
    float: left;
}

/* Toast */
.toast {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;

    /* Take up top half */
    height: 50vh;

    /* Center the text visually */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* Visual accessibility */
    background: rgba(0, 0, 0, 0.9); /* very high contrast */
    color: white;
    font-size: 80px;      /* giant text */
    line-height: 1.3;
    padding: 1px;
    font-weight: bold;

    /* Visibility controls */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0s linear 0.4s;

    z-index: 9999; /* above everything */
}

.toast.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.4s ease;
}