<!doctype html>
<html>
    <head>
        <title>{{ title }} - Sticker Printer</title>
        <style>
            #large {
                font-size: 30px;
            }
            #larger {
                font-size: 40px;
                }
            h2 {
                font-size: 40px;
            }
        </style>

    </head>
    <body>
        <form action="" method="POST" novalidate>
            {{ form.hidden_tag() }}
            <h2>Hello, {{ user.username }}!</h2>
            <h2>Choose Address:</h2>
            <pr>
                {{ form.whichAddress(id='large') }}
            </pr>
            <br>
            <br>
            <br>
            <br>
            <h2>
                {{ form.submit(id='larger') }}
            </h2>
        </form>
    </body>
</html>