<!doctype html>
<html>
<head>
    <title>{{ title }} - Sticker Printer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}

        <h2>Hello, {{ user.username }}!</h2>
        <h2>Choose Address:</h2>

        {{ form.whichAddress(class='large') }}

        <br><br><br><br>

        <h2>
            {{ form.submit(class='btn') }}
        </h2>
    </form>
</body>
</html>