{% extends "base.html" %}

{% block content %}
    <div>
        <img src="/static/stickers.png"
                alt="Stickers"
                usemap="#stickermap"
                width="587"
                height="757"
                class="img-left">

        <map name="stickermap">
            <area shape="rect" coords="17,28,201,97" alt="Sticker 1" href="/stickerpos/1">
            <area shape="rect" coords="202,28,384,97" alt="Sticker 2" href="/stickerpos/2">
            <area shape="rect" coords="385,28,568,97" alt="Sticker 3" href="/stickerpos/3">
            <area shape="rect" coords="17,98,201,167" alt="Sticker 4" href="/stickerpos/4">
            <area shape="rect" coords="202,98,384,167" alt="Sticker 5" href="/stickerpos/5">
            <area shape="rect" coords="385,98,568,167" alt="Sticker 6" href="/stickerpos/6">
            <area shape="rect" coords="17,168,201,237" alt="Sticker 7" href="/stickerpos/7">
            <area shape="rect" coords="202,168,384,237" alt="Sticker 8" href="/stickerpos/8">
            <area shape="rect" coords="385,168,568,237" alt="Sticker 9" href="/stickerpos/9">
            <area shape="rect" coords="17,238,201,307" alt="Sticker 10" href="/stickerpos/10">
            <area shape="rect" coords="202,238,384,307" alt="Sticker 11" href="/stickerpos/11">
            <area shape="rect" coords="385,238,568,307" alt="Sticker 12" href="/stickerpos/12">
            <area shape="rect" coords="17,308,201,377" alt="Sticker 13" href="/stickerpos/13">
            <area shape="rect" coords="202,308,384,377" alt="Sticker 14" href="/stickerpos/14">
            <area shape="rect" coords="385,308,568,377" alt="Sticker 15" href="/stickerpos/15">
            <area shape="rect" coords="17,378,201,447" alt="Sticker 16" href="/stickerpos/16">
            <area shape="rect" coords="202,378,384,447" alt="Sticker 17" href="/stickerpos/17">
            <area shape="rect" coords="385,378,568,447" alt="Sticker 18" href="/stickerpos/18">
            <area shape="rect" coords="17,448,201,517" alt="Sticker 19" href="/stickerpos/19">
            <area shape="rect" coords="202,448,384,517" alt="Sticker 20" href="/stickerpos/20">
            <area shape="rect" coords="385,448,568,517" alt="Sticker 21" href="/stickerpos/21">
            <area shape="rect" coords="17,518,201,587" alt="Sticker 22" href="/stickerpos/22">
            <area shape="rect" coords="202,518,384,587" alt="Sticker 23" href="/stickerpos/23">
            <area shape="rect" coords="385,518,568,587" alt="Sticker 24" href="/stickerpos/24">
            <area shape="rect" coords="17,588,201,657" alt="Sticker 25" href="/stickerpos/25">
            <area shape="rect" coords="202,588,384,657" alt="Sticker 26" href="/stickerpos/26">
            <area shape="rect" coords="385,588,568,657" alt="Sticker 27" href="/stickerpos/27">
            <area shape="rect" coords="17,658,201,727" alt="Sticker 28" href="/stickerpos/28">
            <area shape="rect" coords="202,658,384,727" alt="Sticker 29" href="/stickerpos/29">
            <area shape="rect" coords="385,658,568,727" alt="Sticker 30" href="/stickerpos/30">
            </map>
        <h2>Please press on a sticker that has not been removed yet</h2>
    </div>
    <br><br><br><br>
{% endblock %}